src/main/resources/META-INF/ServicePft.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.pft.utpl.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.pft.utpl.edu/" name="ServicePft" xmlns:sc="http://schemas.sun.com/2006/03/wss/client" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.pft.utpl.edu/" schemaLocation="http://localhost:8080/ptf-ws/ServicePft?xsd=1"/>
</xsd:schema>
</types>
<message name="get_personas">
<part name="parameters" element="tns:get_personas"/>
</message>
<message name="get_personasResponse">
<part name="parameters" element="tns:get_personasResponse"/>
</message>
<message name="get_persona_por_cedula">
<part name="parameters" element="tns:get_persona_por_cedula"/>
</message>
<message name="get_persona_por_cedulaResponse">
<part name="parameters" element="tns:get_persona_por_cedulaResponse"/>
</message>
<message name="get_modalidades">
<part name="parameters" element="tns:get_modalidades"/>
</message>
<message name="get_modalidadesResponse">
<part name="parameters" element="tns:get_modalidadesResponse"/>
</message>
<portType name="ServicePftInterface">
<operation name="get_personas">
<input wsam:Action="http://ws.pft.utpl.edu/ServicePftInterface/get_personasRequest" message="tns:get_personas"/>
<output wsam:Action="http://ws.pft.utpl.edu/ServicePftInterface/get_personasResponse" message="tns:get_personasResponse"/>
</operation>
<operation name="get_persona_por_cedula">
<input wsam:Action="http://ws.pft.utpl.edu/ServicePftInterface/get_persona_por_cedulaRequest" message="tns:get_persona_por_cedula"/>
<output wsam:Action="http://ws.pft.utpl.edu/ServicePftInterface/get_persona_por_cedulaResponse" message="tns:get_persona_por_cedulaResponse"/>
</operation>
<operation name="get_modalidades">
<input wsam:Action="http://ws.pft.utpl.edu/ServicePftInterface/get_modalidadesRequest" message="tns:get_modalidades"/>
<output wsam:Action="http://ws.pft.utpl.edu/ServicePftInterface/get_modalidadesResponse" message="tns:get_modalidadesResponse"/>
</operation>
</portType>
<binding name="ServicePftPortBinding" type="tns:ServicePftInterface">
    <wsp:PolicyReference URI="#ServicePftPortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="get_personas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_persona_por_cedula">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_modalidades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicePft">
<port name="ServicePftPort" binding="tns:ServicePftPortBinding">
<soap:address location="http://localhost:8080/ptf-ws/ServicePft"/>
</port>
</service>
    <wsp:Policy wsu:Id="ServicePftPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:CallbackHandlerConfiguration wspp:visibility="private">
                    <sc:CallbackHandler default="s1as" name="usernameHandler"/>
                    <sc:CallbackHandler default="changeit" name="passwordHandler"/>
                </sc:CallbackHandlerConfiguration>
                <sc:TrustStore wspp:visibility="private" peeralias="s1as" storepass="changeit" type="JKS" location="/home/cesar/glassfish4/glassfish/domains/domain1/config/cacerts.jks"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>